{{#friends}}
	<li draggable="{{draggable}}" data-id='{{uid}}' class="scale1">
		<img draggable="false" src="{{photo_50}}" alt="">
		<p class="name">{{first_name}} {{last_name}}</p>
		<span class="{{moveClass}}"><i class="fas fa-times"></i></span>
	</li>
{{/friends}}